@font-face {
    font-family: 'Jujutsu Kaisen';
    src: url('../../files/Jujutsu\ Kaisen.ttf');
}

@font-face {
    font-family: 'mark-pro-regular';
    src: url('../../files/mark-pro-regular.woff');
}

@font-face {
    font-family: 'mark-pro-bold';
    src: url('../../files/mark-pro-bold.woff');
}