:root {
    --cor-vermelho: #fc0021;
    --cor-preto: #090d17;
    --cor-branco: #ffffff;
    --cor-verde: #30aa68;
    --cor-cinza: #141927;

    --regular:'mark-pro-regular';
    --jujutsu: 'Jujutsu Kaisen';
    --bold: 'mark-pro-bold';
}